@{
    ViewBag.Title = "Inicio";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2><b>@ViewBag.Message</b></h2>
            </hgroup>
        </div>
    </section>
}
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        Sitio creado como parte del laboratorio: <a href="http://mauriciotest.azurewebsites.net/" target="_blank">aqu&iacute;</a> <br /><br /><br />
    </li>

    <li class="two">
        Sitio creado en modo <b>Shared</b> <a href="#" target="_blank">aqu&iacute;</a> <br /><br /><br />
    </li>

    <li class="three">
        Sitio creado en modo <b>Reserved</b> <a href="http://maurosblog.azurewebsites.net" target="_blank">aqu&iacute;</a> <br /><br /><br />
    </li>
</ol>
